{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "eslint-plugin-import-helpers"
  ],
  "env": {
    "jest": true
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import-helpers/order-imports": [
      "warn",
      { // example configuration
          "newlinesBetween": "always",
          "groups": [
              "module",
              "/^@shared/",
              ["parent", "sibling", "index"],
          ],
          "alphabetize": { "order": "asc", "ignoreCase": true }
      },
  ],
  }
  
}